
<!--   
	footer
	-->
<div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download App for android or ios. </p>
                    <div>
                        <a href="#"><img src="{{url_for('static', filename ='uploads/apple.jpg')}}" alt="logo" height=60px width=75px></a>
                        <a href="#"><img src="{{url_for('static', filename ='uploads/android.png')}}" alt="logo" height=60px width=75px></a>
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{{url_for('static', filename ='uploads/7mileslogo.png')}}" alt="logo" height=60px width=75px>
                    <p>This is stuff about Seven Miles Hardware that should be noted. </p> 
                </div>
                <div class="footer-col-3">
                    <h3>FOLLOW US</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                    </ul>
                </div>
            </div>
            <hr>
            <center><p class="copyright">Copyright &copy; 7 Miles Hardware Store</p></center>
        </div>
      

    </div>